<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<h3>Treeeee</h3>
<!-- <model-viewer> HTML element -->
<model-viewer bounds="tight" src="/assets/OilCan.glb" ar ar-modes="scene-viewer webxr quick-look" camera-controls environment-image="neutral" poster="poster.webp" shadow-intensity="2.2" exposure="1.51" shadow-softness="1">
  <div class="progress-bar hide" slot="progress-bar">
      <div class="update-bar"></div>
  </div>
  <button slot="ar-button" id="ar-button">
      View in your space
  </button>
  <div id="ar-prompt">
      <img src="ar_hand_prompt.png">
  </div>
</model-viewer>  